@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, sans-serif;
  color: #111827;
  background: #f9fafb;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
